<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart-Connect | @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/KendoCss")
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-unobtrusive")
</head>
<body>
    <div class="navbar navbar-default navbar-custom navbar-fixed-top black">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Smart-Connect", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("About", "About", "StaticPages", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Get In Touch", "Contact", "StaticPages", new { area = string.Empty }, null)</li>
                    @if (this.User.IsLoggedIn() && this.User.IsUser())
                    {
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "StaticPages", new { area = string.Empty }, null)</li>
                    }
                    @if (this.User.IsAdmin())
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
                            <ul class="dropdown-menu black">
                                <li>@Html.ActionLink("Users", "Index", "Home", new { area = "Admin/Users" }, null)</li>
                                <li>@Html.ActionLink("Quotes", "Index", "Home", new { area = "Admin/Quotes" }, null)</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Debug tools<span class="caret"></span></a>
                            <ul class="dropdown-menu black">
                                <li><a href="/Glimpse.axd">Glimpse</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginRegisterSectionPartial")
            </div>
        </div>
    </div>

    <div class="site-body">
        @RenderBody()
        <hr />
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul id="social-media-links-container" class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/vassildinev/Smart-Connect">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Smart-Connect @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/signalr")
    @RenderSection("scripts", required: false)
</body>
</html>
